<div class="dialog-box">
	<h2>Register</h2>
	<form #registerForm="ngForm" (submit)="onSubmit($event);">
		<p>
			<label>Login: </label>
			<input type="text" name="login" [(ngModel)]="loginServise.login" required />
		</p>
		<p>
			<label>Password: </label>
			<input type="text" name="password" [(ngModel)]="loginServise.password" required />
		</p>
		<p>
			<a routerLink="/login">Have an account? Login</a>
			<button class="fr">Register</button>
		</p>
		<p *ngIf="loginServise.message">
			{{ loginServise.message }}
		</p>
	</form>
</div>